@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        height: 100%
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      grid-template-columns: repeat(auto-fit, 310px)
      grid-template-rows: repeat(2, 450px)
      column-gap: 15px
      row-gap: 15px
  .trip-card
    &__image
      height: 225px
      &-active
        height: 100%
    &__active
      grid-template-rows: repeat(2, 450px)
    &__block,
    &-active
      padding-top: 20px
      padding-bottom: 20px
    &__title
      margin-bottom: 18px
    &__about
      margin-bottom: 24px
    &__room
      margin-bottom: 19px
  .footer
    &-wrapper
      grid-template-columns: 220px 210px 1fr 210px
    &__input
      flex-basis: 100%
    &__payment
      &-ul
        margin-left: 60px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: inherit
      margin-bottom: 30px
      &__img
        width: 100%
  .geo
    flex-direction: row
  .booking,
  .map
    width: 340px
  .map
    height: 210px
  .newsletter
    padding-top: 92px
    padding-bottom: 92px
    &-wrapper
      max-width: 700px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
  .card
    width: 340px
    height: 255px
    margin-bottom: 20px
  .packages
    padding-bottom: 60px
    &-wrapper
      grid-template-columns: repeat(auto-fit, 340px)
  .trip-card
    &__about
      margin-bottom: 31px
    &__room
      margin-bottom: 37px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: 230px 280px 190px
      grid-gap: 0
      grid-row-gap: 50px
    &-logo
      grid-row: 1 / 2
      width: 104px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
    &__aditional
      grid-row: 1fr
    &__contact
      &-details
        grid-row: 3
        grid-column: span 2
      &-form
        grid-row: 4
        grid-column: span 2
    &__input
      flex-basis: 48%
    &__payment
      grid-column: 1 / 4
      grid-row: 5 / 6
      &-ul
        margin-left: 0
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 95%
  .navbar
    &__search, &__user, &-bottom
      display: none
    &-btn
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      border: none
      outline: none
      background-color: transparent
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-bottom: 60px
    &-slider
      height: 350px
  .geo
    flex-direction: column
    min-height: 450px
  .booking,
  .map
    width: inherit
  .newsletter
    &-wrapper
      max-width: 576px
      width: 95%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 30px
        &-prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -65px
        &-next
          right: 50%
          transform: translateX(50%)
          margin-right: -65px
  .card
    width: 48%
  .packages
    padding-bottom: 50px
    &-title
      font-size: 30px
      line-height: 38px
    &-wrapper
      grid-template-columns: repeat(auto-fit, 48%)
      column-gap: 4%
      row-gap: 20px
  .trip-card
    &__about
      margin-bottom: 34px
      font-size: 12px
    &__room
      margin-bottom: 37px
    &__button
      padding: 10px 21px
      font-size: 12px
  .footer
    &-wrapper
      grid-template-columns: 27% 2fr 195px
    &__title
      font-size: 15px
      &-inline
        margin-right: 33px
    &__aditional
      justify-self: end
    &__input
      min-width: 172px
@media (max-width: 576px)
  .container
    max-width: 90%
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__rating
        display: none
    &-stars
      flex-basis: auto
      margin-left: auto
    &-name
      flex-basis: 100%
    &-offer
      margin-left: 0
      margin-bottom: 10px
      order: -1
    &-slider
      height: 250px
      margin-bottom: 20px
      &__button
        &-prev
          left: 12px
        &-next
          right: 12px
  .geo
    min-height: 440px
  .booking,
  .map
    height: 210px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      max-width: 90%
  .reviews
    &__title
      font-size: 24px
      line-height: 28px
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      margin-bottom: 36px
  .card
    width: 100%
    &:nth-child(2)
      order: 1
    &:last-child
      order: 2
  .packages
    padding-bottom: 40px
    &-title
      font-size: 24px
      line-height: 28px
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-auto-rows: 450px
      column-gap: 0
      row-gap: 15px
  .trip-card
    &__active
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      grid-column-start: 1
      grid-column-end: 2
      &::before
        font-size: 8px
        line-height: 10px
    &__image
      &-active
        height: 225px
    &__block
      border-radius: 0 0 8px 8px
    &__title
      margin-bottom: 23px
    &__about
      margin-bottom: 24px
    &__room
      margin-bottom: 19px
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 30px
    &-logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        justify-self: start
        display: flex
        flex-wrap: wrap
    &__title
      &-inline
        margin-right: 0
        margin-bottom: 20px
        flex-basis: 100%
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__aditional
      grid-row: 4
      grid-column: 1
      justify-self: start
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input
      flex-basis: 100%
    &__payment
      grid-row: 8
      grid-column: 1
    &__title
      font-size: 18px
    &__item
      &-wrapper
        min-width: 31px
    &__payment
      flex-wrap: wrap
      &-ul
        flex-basis: 100%
        margin-bottom: 10px
@media (max-width: 425px)
  .container
    max-width: 87%
  .hotel
    &-slider
      height: 210px
      &__button
        &-prev
          left: 6px
        &-next
          right: 6px
  .newsletter
    &-wrapper
      max-width: 87%
    &-title
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .footer
    &__button
      order: 1
    &__form
      &-info
        flex-basis: 100%
        margin-bottom: 15px
@media (max-width: 320px)
  .container
    max-width: 85%
  .hotel
    &-slider
      height: 179px
  .geo
    min-height: 402px
  .map
    height: 172px
  .newsletter
    &-wrapper
      max-width: 85%
