.navbar
  background-color: $light
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
    &__navbar-btn
      display: none
  &__search
    margin-right: auto
    margin-left: 108px
  &-bottom
    background-color: $dark
  &-menu
    padding: 31px 0
    display: flex
    align-items: center
    justify-content: space-between
    list-style: none
    color: $light
    &__link
      font-weight: 700
      font-size: 14px
      color: inherit
      text-transform: uppercase
      text-decoration: none
.logo
  width: 177px
.search
  display: flex
  height: 40px
  position: relative
  overflow: hidden
  border-radius: 6px
  &__input
    width: 350px
    height: 100%
    padding-right: 75px
    padding-left: 23px
    font-size: 12px
    line-height: 15px
    color: $text-color
    background-color: $light-blue
    border: none
  &__button
    width: 65px
    height: 100%
    position: absolute
    top: 0
    right: 0
    border: none
    background-color: $primary
    cursor: pointer
  &__icon
    width: 16px
.user
  display: flex
  align-items: center
  text-decoration: none
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    margin-left: 18px
    font-size: 14px
    line-height: 18px
    color: $text-color
